.header {
  margin-bottom: 12px;
}

.group {
  padding: 10px;
  background-color: var(--color-bg-card);
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.zapWrapper {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
